{% if page.header.branding.hide %}
    {% set invisible = (mobile ? '' : 'hidden') %}
{% endif %}
<a href="{{ home_url }}" class="navbar-brand mr-10" {{ invisible }}>

    {% if page.header.branding.image %}
        {% set branding = (mobile ? page.header.branding.image.mobile : page.header.branding.image.desktop) %}
        <img src="{{ uri.rootUrl() }}/user/images/logos/{{ branding }}" alt="{{ site.title }}"/>
        {% if ( page.header.branding ) and ( ( page.header.branding.color ) ) %}{% include 'colors/branding.html.twig' %}{% endif %}
    {% elseif site.branding.image %}
        {% set branding = (mobile ? site.branding.image.mobile : site.branding.image.desktop) %}
        <img src="{{ uri.rootUrl() }}/user/images/logos/{{ branding }}" alt="{{ site.title }}"/>
        {% if ( page.header.branding ) and ( ( page.header.branding.color ) ) %}{% include 'colors/branding.html.twig' %}{% endif %}
    {% else %}
        {% set branding = (mobile ? 'mobile' : 'desktop') %}
        {% if branding %}
            <img src="{{ url('theme://images/logos/' ~ branding ~ '.jpg' ) }}" alt="{{ site.title }}"/>
            {% if ( page.header.branding ) and ( ( page.header.branding.color ) ) %}{% include 'colors/branding.html.twig' %}{% endif %}
        {% endif %}
    {% endif %}
    {% if mobile %}
        <span class="navbar-mobile-title">{{ site.title }}</span>
    {% endif %}
</a>
