{% if page.header.emblem.image.desktop %}
    {% set emblem = (mobile ? 'page.header.emblem.image.mobile' : 'page.header.emblem.image.desktop') %}
    <a class="blog-logo" href="{{ base_url_relative }}" style="background-image: url({{ page.media[emblem].url }})">{{ site.title }}</a>
    {% if ( page.header.emblem ) and ( ( page.header.emblem.color ) ) %}{% include 'colors/emblem.html.twig' %}{% endif %}
{% elseif site.emblem.image.desktop %}
    {% set emblem = (mobile ? 'site.emblem.image.mobile' : 'site.emblem.image.desktop') %}
    <a class="blog-logo" href="{{ base_url_relative }}" style="background-image: url({{ uri.rootUrl() }}/user/images/emblems/{{ emblem }})">{{ site.title }}</a>
    {% if ( page.header.emblem ) and ( ( page.header.emblem.color ) ) %}{% include 'colors/emblem.html.twig' %}{% endif %}
{% else %}
    {% set emblem = theme_var(mobile ? 'emblem.image.mobile' : 'emblem.image.desktop') %}
    {% if emblem %}
        <a class="blog-logo" href="{{ base_url_relative }}" style="background-image: url({{ url('theme://images/emblem/' ~ emblem ) }})">{{ site.title }}</a>
        {% if ( page.header.emblem ) and ( ( page.header.emblem.color ) ) %}{% include 'colors/emblem.html.twig' %}{% endif %}
    {% else %}
        {% include('@images/grav-logo.svg') %}
    {% endif %}
{% endif %}
